
* {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body{
  display: flex;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-family: "DM Serif Text", serif;
  background: #e4ebe4;
  background: linear-gradient(90deg,rgba(228, 235, 228, 1) 25%, rgba(250, 231, 227, 1) 75%);
}

#cabecalho {
  display: flex;
  background-color: white;
  height: 25%;
  border-bottom: solid 1px #558762;
  padding: 2% 0 0 8%;
  width: 100vw;
}

#secoes {
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 4.5% 0 0 4%;
  display: flex;
  justify-content: space-between;
  width: 37%;
  height: 4vh;
}

a {
  cursor: pointer;
  width: 4rem;
  height: 1.5rem;
  text-align: center;
  font-size: 16px;
}

a:hover {
  color: #558762;
  
}


#iniciodiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 87vw;
  height: 58vh;
  padding: 4% 0 0 11.7%;
  font-size: 15px;
  color: #425252;
}

#iniciotxttudo {
  display: flex;
  flex-direction: column;
  margin-right: 14.8%;
  width: 50%;
}


h2 {
  font-weight: 500;
  font-size: 30px;
}

#iniciotxt1 {
  margin-top: 1rem;
  font-size: 32px;
  font-weight: 600;
  width: min(100%, 500px);
  padding-right: 5rem;
  margin-right: 3rem;
}

#iniciotxt2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: min(100%, 500px);
  color: black;
  font-weight: 300;
  margin-bottom: 2rem;
}

#foto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

button {
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  width: 14rem;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border-width: 1px;
  background-color: #558762;
  color: white;
  font-size: 0.8rem;
  font-weight: 800;
  cursor: pointer;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 1%;
}

button:hover {
  background-color: #67c250bb
  
}

#wpp {
  width: 2.5rem;
  height: 2.5rem;
}

#fotojpg {
  width: 22rem;
  height: 22rem;
  mask-image: 
    linear-gradient(to top, black 80%, transparent 100%),
    linear-gradient(to bottom, black 80%, transparent 100%),
    linear-gradient(to left, black 80%, transparent 100%),
    linear-gradient(to right, black 80%, transparent 100%);
    
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;

}

#logo {
  margin-left: 3rem;
  width: 12rem;
  height: 7rem;
}