
body {
  margin: 0px;
  font-family: "DM Serif Text", serif;
  background: #e4ebe4;
  background: linear-gradient(90deg,rgba(228, 235, 228, 1) 25%, rgba(250, 231, 227, 1) 75%);
}

#cabecalho {
  display: flex;
  background-color: white;
  height: 8rem;
  border-bottom: solid 1px #558762;
  padding-top: 1rem;
  padding-left: 8rem;
  padding-bottom: 1rem;
}

#secoes {
  font-weight: 500;
  font-size: 18px;
  margin-left: 3rem;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  width: 27rem;
  height: 4rem;
}

a {
  cursor: pointer;
  width: 4rem;
  height: 1.5rem;
  text-align: center;
  font-size: 16px;
}

a:hover {
  color: #558762;
  
}


#iniciodiv {
  display: flex;
  padding: 3rem;
  padding-right: 0rem;
  font-size: 15px;
  padding-left: 11rem;
  color: #425252;
}

#iniciotxttudo {
  display: flex;
  flex-direction: column;
}


h2 {
  font-weight: 500;
  font-size: 30px;
}

#iniciotxt1 {
  margin-top: 1rem;
  font-size: 32px;
  font-weight: 600;
  width: 32rem;
  padding-right: 5rem;
  margin-right: 3rem;
}

#iniciotxt2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 32rem;
  color: black;
  font-weight: 300;
  margin-bottom: 2rem;
}

#foto {
  width: 22rem;
  height: 22rem;
}

button {
  display: flex;
  width: 16rem;
  height: 3.2rem;
  border-radius: 20px;
  border-width: 1px;
  background-color: #558762;
  color: white;
  padding-left: 1.5rem;
  padding-top: 0.3rem;
  font-size: 13px;
  font-weight: 800;
  cursor: pointer;
  margin-top: 3rem;
  margin-left: 3rem;
}

button:hover {
  background-color: #67c250bb
  
}

#wpp {
  width: 2.5rem;
  height: 2.5rem;
}

#fotojpg {
  width: 24rem;
  height: 24rem;
  -webkit-mask-image: 
    linear-gradient(to top, black 80%, transparent 100%),
    linear-gradient(to bottom, black 80%, transparent 100%),
    linear-gradient(to left, black 80%, transparent 100%),
    linear-gradient(to right, black 80%, transparent 100%);
    
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;

}

#logo {
  margin-left: 3rem;
  width: 12rem;
  height: 7rem;
}